@font-face {
    font-family: e-ukraine;
    src: url(../../public/fonts/e-Ukraine.otf);
}



body{
    font-family: e-ukraine;
    overflow-x: hidden;
}

svg{
    color: white;
    transition: 0.2ms;
}
*{
    user-select: none;
}
